<tbody class = "booking" >
  <tr>
    <td><%= booking.id %></td>
    <td><%= number_to_currency(change_money(booking.total_price)) %></td>
    <td><%= booking.start_date.strftime('%FT%T') %></td>
    <td><%= booking.end_date.strftime('%FT%T') %></td>
    <td><%= booking.room_name %></td>
    <td><p class=<%= status_color(booking.status) %>><%= booking.status %></p></td>
    <td><%= booking.created_at.strftime('%FT%T') %></td>
    <td><%= link_to edit_admin_bill_booking_path(booking, id: booking.id), class: "btn btn-outline-primary waves-effect" do %>
          <i class="fa fa-edit" aria-hidden="true"></i>
        <% end %>
    </td>
  <tr>
</tbody>
