<div class="basket-product">
  <div class="item">
    <div class="product-image">
      <%= image_tag basket.room_images.first.photo_url, class: "product-frame" %>
    </div>
    <div class="product-details">
      <h1><%= link_to basket.room_name, room_url(basket.room) %></h1>
      <p><span><%= sanitize render_star(basket.room_rate_avg), attributes: %w(class data-icon) %></span></p>
      <p><%= basket.start_date.to_date %> -> <%= basket.end_date.to_date %> </p>
    </div>
  </div>
  <div class="price"><%= number_to_currency(change_money(basket.room_price)) %></div>
  <div class="subtotal"><%= number_to_currency(change_money(basket.total_price)) %></div>
  <div class="remove">
    <%= link_to basket, method: :delete, data: { confirm: t(".confirm_dialog") } do %>
      <i class="fa fa-trash fa-2xl" ></i>
    <% end %>
  </div>
</div>
