<%= stylesheet_link_tag "payment", media: "all", "data-turbolinks-track": "reload" %>
<%= render "layouts/header" %>

<div class="mx-auto text-center">
  <i class="far fa fa-shopping-basket fa-2x mb-2 text-black margin_basket align_center_basket"></i>
</div>
<h2 class="text-black mb-5 align_center_basket"><%= t ".basket" %></h2>
<main>
  <div class="basket">
    <div class="basket-module">
      <label for="promo-code"><%= t ".promotion" %></label>
      <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
      <button class="promo-code-cta"><%= t ".apply" %></button>
    </div>
    <div class="basket-labels">
      <ul>
        <li class="item item-heading"><%= t ".item" %></li>
        <li class="price"><%= t ".price" %></li>
        <li class="subtotal"><%= t ".subtotal" %></li>
      </ul>
    </div>

    <%= render partial: "basket", collection: @bookings %>
    <div class="basket-product">
      <% if @bookings.present? %>
        <%== pagy_bootstrap_nav @pagy %>
      <% end %>
    </div>
  </div>
  <aside>
    <div class="summary">
      <div class="summary-total-items"><%= @bookings.count %> <%= t ".item_in_bag" %></div>
      <div class="summary-subtotal">
        <div class="subtotal-title"><%= t ".subtotal" %></div>
        <div class="subtotal-value final-value" id="basket-subtotal"><%= number_to_currency(change_money(find_total_price(@bookings))) %></div>
      </div>
      <div class="summary-promo">
        <div class="promo-title"><%= t ".promotion_price" %></div>
        <div class="promo-value final-value" id="basket-promo"></div>
      </div>
      <div class="summary-total">
        <div class="total-title"><%= t ".total_price" %></div>
        <div class="total-value final-value" id="basket-total"><%= number_to_currency(change_money(find_total_price(@bookings))) %></div>
      </div>
      <div class="summary-checkout">
        <%= form_for @bill, url: payment_path, method: :post, :html => {:class => "form-signup"} do |f| %>
          <%= f.hidden_field :bill_id, value: @bill.id %>
          <div class="col"><button class="checkout-cta" id="submitButton" type="submit"><%= t ".payment" %></button></div>
        <% end %>
      </div>
    </div>
  </aside>
</main>

<%= render "layouts/footer" %>
