<%= form_for([:admin, @room], html: {multipart: true}) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div><%= hidden_field :id, f.object.id %></div>
  <div class="field">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description, t(".des") %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :price, t(".price") %>
    <%= f.text_field :price, class: "form-control", :value => number_to_currency(f.object.price)%>
  </div>

  <div class="field">
    <%= f.label :types, t(".type") %><br>
    <%= f.select(:types, Room.types.keys.to_a, {include_blank: t(".select_room")}, { :class => 'form-control' }) %>
  </div>
  <br>
  <% if f.object.id? %>
    <div id="carouselExampleControls"  class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-inner" role="listbox">
      <% @room.images.each do |i| %>
        <div class="carousel-item active">
          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
                <%= image_tag i.photo_url%>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="visually-hidden"></span>
                </button>
            </div>
          </div>
        </div>

      <% end %>
      </div>
    </div>
  <% else %>
    <div class="field">
      <%= f.fields_for :images do |image| %>
        <%= render "image_fields", f: image %>
      <% end %>
      <%= link_to_add_association (t ".add_a_photo"), f, :images, class: "link-primary" %>
    </div><br>
  <% end %>
  <div class="actions">
    <%= f.submit t(".create-btn"), class: "btn btn-primary" %>
  </div>
<% end %>
