<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4"><%= t ".room" %></h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><%= link_to t(".dashboard"), admin_dashboard_index_path %></li>
      <li class="breadcrumb-item active"><%= link_to t(".room"), admin_rooms_path %></li>
    </ol>
    <div class="card mb-4">
      <div class="card-header">
        <%= form_tag(admin_rooms_path, method: :get) do %>
          <i class="fas fa-table me-1"></i>
          <%= t ".room" %>
          <%= submit_tag t(".search"), name: nil, class: "btn btn-success btn-sm float-end" %>
          <%= select_tag :types, options_for_select(Room.types), class: "select" %>
        <% end %>
      </div>
      <div class="card-body">
        <table id="datatablesSimple" class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><%= t ".photo" %></th>
              <th scope="col" class="col-sm-1"><%= t ".no" %></th>
              <th scope="col" class="col-sm-1"><%= t ".price" %></th>
              <th scope="col" class="col-sm-1"><%= t ".description" %></th>
              <th scope="col" class="col-sm-2"><%= t ".price" %></th>
              <th scope="col" class="col-sm-4"><%= t ".unavailable" %></th>
            </tr>
          </thead>
          <%= render @rooms %>
        </table>
        <%= link_to t(".add"), new_admin_room_path, class: "btn btn-outline-primary float-end" %>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</main>
