<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4"><%= t ".room" %></h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><%= link_to t(".dashboard"), admin_dashboard_index_path %></li>
      <li class="breadcrumb-item active"><%= t ".room" %></li>
      <li class="breadcrumb-item active"><%= t ".add" %></li>
    </ol>
    <div class="card mb-4">
      <div class="card-header">
        <%= link_to t(".add"), new_admin_room_path, class: "btn btn-outline-primary float-end" %>
        <i class="fas fa-table me-1"></i>
        <%= t ".room" %>
      </div>
      <div class="card-body">
        <%= render "form", room: @room%>
      </div>
    </div>
  </div>
</main>
