<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading"><%= t ".room" %></div>
            <a class="nav-link" href="<%= admin_rooms_path %>">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-bed"></i></div>
                <%= t ".room_management" %>
            </a>
            <div class="sb-sidenav-menu-heading"><%= t ".bill" %></div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-invoice"></i></div>
                <%= t ".bill_management" %>
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="<%= admin_bills_path %>"><%= t ".bill_confirm" %></a>
                    <a class="nav-link" href="#"><%= t ".bill_stat" %></a>
                </nav>
            </div>
            <div class="sb-sidenav-menu-heading"><%= t ".users" %></div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                        <%= t ".user_management" %>
                </a>
            </div>
        </div>
        <% if logged_in? %>
            <div class="sb-sidenav-footer">
            <div class="small"><%= t ".login_as" %><%= current_user.name %></div>
            </div>
        <% end %>
    </nav>
</div>
