<tr>
  <td><%= booking.room_name %>
  <td><%= booking.total_price %>
  <td><%= booking.start_date.to_date %> <%= booking.end_date.to_date %>
  <td>
    <span class='<%= check_status(booking.status) %>'><%= booking.status %> </span>
  </td>
  <td>
    <%= link_to booking, method: :delete, data: { confirm: t(".confirm_dialog") } do %>
      <i class="fa fa-ban" ></i>
    <% end %>
  </td>
<tr>
