<%= render "layouts/header" %>
<body id="page-top">
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1 class="mx-auto my-0 text-uppercase"><%= t ".hotel_name" %></h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5"><%= t ".hotel_slogan" %><span class><i class="fa-solid fa-utensils"></i></span></h2>
          <% unless logged_in? %>
            <%= link_to t(".started"), login_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-white mb-4"><%= t ".hotel_name" %></h2>
          <p class="text-white-50">
            <%= t ".hotel_description_first" %>
            <%= link_to t(".hotel_register"), Settings.home.preview_page_link %>
            <%= t ".hotel_description_second" %>
          </p>
        </div>
      </div>
      <%= image_tag "ipad.png", class: "img-fluid", alt: "..." %>
    </div>
  </section>
  <section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7">
          <%= image_tag "bg-masthead.jpg", class: "img-fluid mb-3 mb-lg-0", alt:"..." %>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4><%= t ".first_description" %></h4>
            <p class="text-black-50 mb-0"><%= t ".first_description_content" %></p>
          </div>
        </div>
      </div>
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6">
          <%= image_tag "demo-image-01.jpg", class: "img-fluid", alt:"..." %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white"><%= t ".second_description" %></h4>
                <p class="mb-0 text-white-50"><%= t ".second_description_content" %></p>
                <hr class="d-none d-lg-block mb-0 ms-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-0 justify-content-center">
        <div class="col-lg-6">
          <%= image_tag "demo-image-02.jpg", class: "img-fluid", alt:"..." %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white"><%= t ".third_description" %></h4>
                <p class="mb-0 text-white-50"><%= t ".third_description_content" %></p>
                <hr class="d-none d-lg-block mb-0 me-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<%= render "layouts/footer" %>
