<div class="col-lg-4">
  <figure class="snip1418"><%= image_tag room.images.first.photo_url, class: "img-fluid" %>
    <div class="add-to-cart">
    </div>
    <figcaption>
      <h3><%= room.name %></h3>
      <p><%= room.description %></p>
      <div class="price">
        <%= number_to_currency(change_money(room.price)) %>
      </div>
      <p class="star">
        <span> <%= sanitize render_star(room.rate_avg), attributes: %w(class data-icon) %> (<%= room.reviews.count %>) </span>
      </p>
    </figcaption><a href="<%= room_url(room) %>"></a>
  </figure>
  <div>
    <% if logged_in? %>
      <%= form_for room.bookings.build do |f| %>
        <%= f.hidden_field :room_id, value: room.id %>
        <%= f.hidden_field :start_date, value: params[:start_date] %>
        <%= f.hidden_field :end_date, value: params[:end_date] %>
        <div class="col-auto margin_button_room"><button class="btn btn-primary" type="submit"><%= t ".add_basket_button" %></button></div>
      <% end %>
    <% end %>
  </div>
</div>
