<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".base_title" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="sb-nav-fixed">
    <%= render "base/header" %>
    <div id="layoutSidenav">
      <%= render "base/sidebar" %>
      <div id="layoutSidenav_content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
        <%= yield %>
        <%= render "base/footer" %>
      </div>
    </div>
    <%= custom_bootstrap_flash.html_safe %>
  </body>
</html>
